body{
    background-color: white !important;
}

.main{
    width: 400px !important;
    height: 750px;
    margin-top: 90px !important;
}

.main-head{
    width: 400px !important;
    height: 90px;
    background-color: #ff6f61 !important;
}

.app-head{
    width: 400px !important;
    height: 100px;
}

.type-text{
    width: 280px;
    border: none;
    height: 45px !important;
    background-color: transparent;
}

/* above css code is for user input for getting user Todo */

.type-text:focus{
    outline: none;
    border-bottom: 1px solid lightslategray;
}

/* above css code is for user input for getting user Todo */

.type-text-task{
    width: 260px;
    border: none;
    height: 45px !important;
    background-color: transparent;
}

/* above css is for input field which is creating by clicking on plus button*/

.type-text-task:focus{
    outline: none;
    color: tomato;
} 

/* above css is for input field which is creating by clicking on plus button*/

.fa-plus:active, .fa-refresh:active{
    text-shadow: 0 0 3px lightslategray, 0 0 5px lightslategray;
}

.item-head{
    width: 400px;
    height: 560px;
    overflow: auto !important;
}

/* above css is for div where individual todo is saving when click on plus button*/

.fa-trash, .fa-pencil-square-o{
    float: right;
    padding-left: 10px;
    padding-top: 12px;
    padding-right: 10px;
}

.fa-trash:active, .fa-pencil-square-o:active{
    text-shadow: 0 0 3px lightslategray, 0 0 5px lightslategray;
    color: tomato;
}

.todo-design{
    box-shadow: 3px 3px 9px lightslategray;
    height: 45px;
    font-size: 25px;
    padding-left: 5px;
    margin-bottom: 5px;
    scroll-behavior: auto;
}
